.btn {
  @apply cursor-pointer font-semibold py-3 px-6 rounded inline-block;
  @apply select-none;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.btn-blue:active {
  @apply bg-blue-800;
}

.btn-blue:focus {
  @apply shadow-outline;
}

